<!-- base.html -->

{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous"> -->
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <!-- DataTables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
    <!-- ------datatable download button------ -->
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.3.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.3.2/js/buttons.html5.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.3.2/js/buttons.print.min.js"></script>
    <!-- <script type="text/javascript" charset="utf8" src=""></script> -->

    <!-- css -->
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <!-- vis.js -->
    <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
    <!-- icon -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Yeast</title>
    <style>
        .flexbox{
            display:flex;
            align-items:center;
            justify-content:center;
        }
        /* .table-bordered td, .table-bordered th {
        border: 1px solid #dee2e6;
        } */
    </style>
    {% block style %}{% endblock style %}

</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark" id="mainNav">
        <div class="container-fluid">
        <a class="navbar-brand" href="/yeast/search" ><h2 class="m-0">Yeast Feature Association Database</h2></a>

        <!-- 刪除開闔選單 -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#head-navbar" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <!-- 刪除開闔選單 -->

            <span class="navbar-toggler-icon"></span>

        </button>

        <div id="head-navbar" class="collapse navbar-collapse" >
            <ul class="navbar-nav ml-auto">
            {% comment %} <li class="nav-item mr-2">
                <a class="nav-link" href="/home">
                    <i class="fa fa-home" aria-hidden="true"></i> Home
                <span class="sr-only">(current)</span>
                </a>
            </li> {% endcomment %}
            <li class="nav-item mr-2">
                <a class="nav-link" href="/yeast/search">
                    <i class="fa fa-search" aria-hidden="true"></i> Search
                </a>
            </li>
            <li class="nav-item mr-2">
                <a class="nav-link" href="/yeast/browse">
                <i class="fa fa-globe"></i> Browse
                </a>
            </li>
            </ul>
        </div>
    </nav>
    {% comment %} {% block header %}{% endblock header %} {% endcomment %}
    <div class="content-wrapper">
        {% block content %}
        {% endblock content %}
    </div>
    <style>
        .table > tbody > tr > td,
        .table > thead > tr > th{
            vertical-align: middle;
            text-align: center;
        }
    </style>