{% extends "base.html" %}
{% load static %}


{% block content %}


<div class="container-fluid">
    <div class="col-9 mx-auto">
        <h2><i class="fa fa-globe"></i> Browse Modes</h2>
        <hr class="page-title-under">
    </div>
    <div class="col-9 mx-auto">
        <div class="card">
            <div class="form-floating">
                <form id =features method="post">
                    {% csrf_token %}
                    <div>
                        <div class="flexbox card-header" style="width:100%;height:100px;font-size:26px;">
                            <div style="width:25%; margin: 5%;">Queried Feature : </div>
                            <select id="first" style="width:75%; margin: 5%;" id ='type' type="text" name="first_feature">Queried Feature :
                                <option value="GO_MF">GO(MF)</option>
                                <option value="GO_BP">GO(BP)</option>
                                <option value="GO_CC">GO(CC)</option>
                                <option value="Protein_Domain">Protein Domain</option>
                                <option value="Mutant_Phenotype">Mutant Phenotype</option>
                                <option value="Pathway">Pathway</option>
                                <option value="Disease">Disease</option>
                                <option value="Transcriptional_Regulation">Transcriptional Regulation</option>
                                <option value="Physical_Interaction">Physical Interation</option>
                                <option value="Genetic_Interaction">Genetic Interaction</option>
                            </select>
                        </div>
                        <div style="width: 100%;font-size:26px;display: flex;align-items:center;justify-content:center;" >Compared Features :</div>
                        <div class="flexbox" style="width:100%;height:100px;font-size:16px;" >
                            <div id="GO_MF" class="checkbox_style" style="width:20%;">
                                <input id="GO_MF_input" type="checkbox" value="GO_MF" checked="checked">
                                <label for="flexCheckDefault">
                                    GO(MF)
                                </label>
                            </div>
                            <div id="GO_BP" class="checkbox_style" style="width:20%;">
                                <input id="GO_BP_input" type="checkbox" value="GO_BP" checked="ckecked">
                                <label for="flexCheckDefault">
                                    GO(BP)
                                </label>
                            </div>
                            <div id="GO_CC" class="checkbox_style" style="width:20%;">
                                <input id="GO_CC_input" type="checkbox" value="GO_CC" checked="ckecked">
                                <label for="flexCheckDefault">
                                    GO(CC)
                                </label>
                            </div>
                            <div id="Protein_Domain" class="checkbox_style" style="width:20%;">
                                <input id="Protein_Domain_input" type="checkbox" value="Protein_Domain" checked="ckecked">
                                <label for="flexCheckDefault">
                                    Protein Domain
                                </label>
                            </div>
                            <div id="Mutant_Phenotype" class="checkbox_style" style="width:20%;">
                                <input id="Mutant_Phenotype_input" type="checkbox" value="Mutant_Phenotype" checked="ckecked">
                                <label for="flexCheckDefault">
                                    Mutant Phenotype
                                </label>
                            </div>
                        </div>
                        <br>
                        <div class="flexbox" style="width:100%;height:100px;font-size:16px;">
                            <div id="Pathway" class="checkbox_style" style="width:20%;" >
                                <input id="Pathway_input" type="checkbox" value="Pathway" checked="ckecked">
                                <label for="flexCheckDefault">
                                    Pathway
                                </label>
                            </div>
                            <div id="Disease" class="checkbox_style" style="width:20%;">
                                <input id="Disease_input" type="checkbox" value="Disease" checked="ckecked">
                                <label for="flexCheckDefault">
                                    Disease
                                </label>
                            </div>
                            <div id="Transcriptional_Regulation" class="checkbox_style" style="width:20%;">
                                <input id="Transcriptional_Regulation_input" type="checkbox" value="Transcriptional_Regulation" checked="ckecked">
                                <label for="flexCheckDefault">
                                    Transcriptional Regulation
                                </label>
                            </div>
                            <div id="Physical_Interaction" class="checkbox_style" style="width:20%;">
                                <input id="Physical_Interaction_input" type="checkbox" value="Physical_Interaction" checked="ckecked">
                                <label for="flexCheckDefault">
                                    Physical Interaction
                                </label>
                            </div>
                            <div id="Genetic_Interaction" class="checkbox_style" style="width:20%;">
                                <input id="Genetic_Interaction_input" type="checkbox" value="Genetic_Interaction" checked="ckecked">
                                    Genetic Interaction
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer text-center p-2">
                <button id="submit_feature" class="btn btn-primary">Browse</button>
            </div>
        </div>
    </div>
    <div id="browse_result" class="col-9 mx-auto" style="margin-top: 5%;display: none;">
        <h2><i class="fa fa-table"></i> Result</h2>
        <hr class="page-title-under">
        <div id="result"></div>
    </div>
    <!------------------------modal---------------------->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog maodal-lg" role="document" style="max-width:70%;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edvidence table</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="modal_table" class="card"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <!------------------------------------------------------>
</div>

<script>csrf_token= "{{ csrf_token }}"</script>
<script src="{% static 'js/yeast_browse.js'%}"></script>

<style>
    .checkbox_style{
        margin: 2%;
    }
</style>
{% endblock content %}
