{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="container-fluid">
    <div class="col-9 mx-auto">
        <h2><i class="fa fa-envelope"></i> Contact</h2>
        <hr class="page-title-under">
    </div>
<div class="col-8 mx-auto px-0">

      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Wei-Sheng Wu</h5>
          <p>
            <ul>
              <li>Professor

                [ <a href="https://researchoutput.ncku.edu.tw/en/persons/wei-sheng-wu" target="_blank">Homepage</a> ]

              </li>

                <li>Department of Electrical Engineering, National Cheng Kung University, Taiwan</li>

              <li>E-mail: <a href="mailto:wessonwu@gmail.com">wessonwu@gmail.com</a></li>
            </ul>
          </p>
        </div>
      </div>

      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Jagat Rathod</h5>
          <p>
            <ul>
              <li>Assistant Professor

              </li>

                <li>Gujarat Biotechnology University, India </li>

              <li>E-mail: <a href="mailto:jagat.rathod@gbu.edu.in">jagat.rathod@gbu.edu.in</a></li>
            </ul>
          </p>
        </div>
      </div>



      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Chun-Lin Hsieh</h5>
          <p>
            <ul>
              <li>M.S. Student

              </li>

                <li>Department of Electrical Engineering, National Cheng Kung University, Taiwan</li>

              <li>E-mail: <a href="mailto:meteor5566123@gmail.com">meteor5566123@gmail.com</a></li>
            </ul>
          </p>
        </div>
      </div>

  </div>
</div>


{% endblock content %}

