{% extends "base.html" %}
{% load static %}


{% block content %}

<body>

    <div class="container-fluid text-center">
        <div class="col-9 mx-auto">
            <div class="card" >
                <h2  class="card-header bg-dark text-white">Download Term-Term Associations for the Terms from the Queried Feature</h3>
                <!-- <td><a href="{% static 'data/data.tar.gz' %}" rel="external nofollow" ><i class="fa fa-cloud-download"></i>download all data sets</a></td> -->
                <table class="table table-hover">
                    <thead>
                        <tr class="table-secondary">
                        <th scope="col">Queried Feature</th>
                            <th scope="col">Term-Term Associations</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">GO_MF</th>
                            <td><a href="{% static 'data/Term-Term Associations [GO_MF].csv' %}" rel="external nofollow" ><i class="fa fa-cloud-download"></i>Term-Term Associations [GO_MF]</a></td>
                        </tr>                        <tr>
                            <th scope="row">GO_BP</th>
                            <td><a href="{% static 'data/Term-Term Associations [GO_BP].csv' %}" rel="external nofollow" ><i class="fa fa-cloud-download"></i>Term-Term Associations [GO_BP]</a></td>
                        </tr>
                        <tr>
                            <th scope="row">GO_CC</th>
                            <td><a href="{% static 'data/Term-Term Associations [GO_CC].csv' %}" rel="external nofollow" ><i class="fa fa-cloud-download"></i>Term-Term Associations [GO_CC]</a></td>
                        </tr>
                        <tr>
                            <th scope="row">Protein Domain</th>
                            <td><a href="{% static 'data/Term-Term Associations [Protein Domain].csv' %}" rel="external nofollow" ><i class="fa fa-cloud-download"></i>Term-Term Associations [Protein Domain]</a></td>
                        </tr>
                        <tr>
                            <th scope="row">Mutant Phenotype</th>
                            <td><a href="{% static 'data/Term-Term Associations [Mutant Phenotype].csv' %}" rel="external nofollow" ><i class="fa fa-cloud-download"></i>Term-Term Associations [Mutant Phenotype]</a></td>
                        </tr>
                        <tr>
                            <th scope="row">Pathway</th>
                            <td><a href="{% static 'data/Term-Term Associations [Pathway].csv' %}" rel="external nofollow" ><i class="fa fa-cloud-download"></i>Term-Term Associations [Pathway]</a></td>
                        </tr>
                        <tr>
                            <th scope="row">Disease</th>
                            <td><a href="{% static 'data/Term-Term Associations [Disease].csv'%}" rel="external nofollow" ><i class="fa fa-cloud-download"></i>Term-Term Associations [Disease]</a></td>
                        </tr>
                        <tr>
                            <th scope="row">Transcriptional Regulation</th>
                            <td><a href="{% static 'data/Term-Term Associations [Transcriptional Regulation].csv' %}" rel="external nofollow" ><i class="fa fa-cloud-download"></i>Term-Term Associations [Transcriptional Regulation]</a></td>
                        </tr>
                        <tr>
                            <th scope="row">Physical Interation</th>
                            <td><a href="{% static 'data/Term-Term Associations [Physical Interaction].csv' %}" rel="external nofollow" ><i class="fa fa-cloud-download"></i>Term-Term Associations [Physical Interaction]</a></td>
                        </tr>
                        <tr>
                            <th scope="row">Genetic Interation</th>
                            <td><a href="{% static 'data/Term-Term Associations [Genetic Interaction].csv' %}" rel="external nofollow" ><i class="fa fa-cloud-download"></i>Term-Term Associations [Genetic Interaction]</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>


{% endblock content %}
