{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="container-fluid">
    <div class="col-9 mx-auto">
    <h2>
        <i class="fa fa-question-circle"></i> Help</h2>
    <hr class="page-title-under">
    </div>
  <div class="col-9 mx-auto px-0">
    <div class="card-body">
      <div class="row mb-3 block_href">
        <div class="col-12 mx-auto">
          <div class="card-deck">
            <div class="card">
              <div class="card-header">
                <h4 class="m-0">About YFAD</h4>
              </div>
              <div class="card-body">
                <ul class="mb-0">
                  <li>
                    <a href="#motivation">Motivation of YFAD</a>
                  </li>
                  <li>
                    <a href="#whatisYARG">What is YFAD?</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <h4 class="m-0">Construction of YFAD</h4>
              </div>
              <div class="card-body">
                <ul class="mb-0">
                </ul>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <h4 class="m-0">Usage of YFAD</h4>
              </div>
              <div class="card-body">
                <ul class="mb-0">
                  <li>
                    <a href="#database_interface">Database interface</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <hr class="mb-3" style="border-width:.15rem; border-color:grey;">
        </div>
      </div>

      <div class="card mb-3" id="motivation">

        <div class="card-header">
          <h4 class="m-0">Motivation of YFAD</h4>
        </div>


        <div class="card-body">
          <p>
          </p>
        </div>

      </div>

      <div class="card mb-3" id="whatisYARG">

        <div class="card-header">
          <h4 class="m-0">What is YFAD?</h4>
        </div>

        <div class="card-body">
          <p>
        </p>
        </div>

      </div>

      <div class="card mb-3" id="configuration_of_YARG">

        <div class="card-header">
          <h4 class="m-0">Configuration of YFAD database</h4>
        </div>

        <div class="card-body">
            <p>
            </p>

        </div>
        <div class="text-center">
        </div>

      </div>

      <div class="card mb-3" id="collection">
        <div class="card-header">
          <h4 class="m-0"></h4>
        </div>
        <div class="card-body">

        </div>

      </div>
      <div class="card mb-3" id="collection_domain">
        <div class="card-header">
          <h4 class="m-0">Collection of lipid-binding domains and lipid-related domains</h4>
        </div>
        <div class="card-body">
          <p>
          </p>

        </div>
      </div>

      <div class="card mb-3" id="testing_the_enrichment">
        <div class="card-header">
          <h4 class="m-0">Testing the enrichment of input genes</h4>
        </div>
        <div class="card-body">
        </div>
      </div>

      <div class="card mb-3" id="evidence_code">
        <div class="card-header">
          <h4 class="m-0">Evidence code explanations</h4>
        </div>
        <div class="card-body">

        </div>
      </div>
      <div class="card mb-3" id="database_interface">
        <div class="card-header">
          <h4 class="m-0">Database interface</h4>
        </div>
        <div class="card-body">

        </div>
      </div>
      <!-- {% for data in help_info %}
          <div class="card mb-3">
            <div class="card-header"><h4 class="m-0">{{ data.title }}</h4></div>
            <div class="card-body">{{ data.content }}</div>
          </div>
        {% endfor %} -->
    </div>
  </div>
</div>
{% endblock content %}
{% block style %}
<style>
  table thead tr th,
  table tbody tr td {
    text-align: center;
    vertical-align: middle !important;
  }

  .card-body p {
    text-align: justify;
  }

  img {
    margin-bottom: 16px;
  }
</style>
{% endblock style %}


{% block script %}
  <script>
    $(document).ready(function () {
      $("#head-navbar li").eq(3).addClass('active');
    });
  </script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=TeX-MML-AM_CHTML' async></script>
  <script type="text/javascript" charset="utf8" src="{% static 'js/jquery/jquery.easing.min.js' %}"></script>
{% endblock script %}