{% extends "base.html" %}
{% load static %}


{% block content %}

<body>

    <div class="container-fluid ">
        <div class="col-9 mx-auto">
            <div class="card" >
                <h2  class="card-header bg-dark text-white text-left">What is YFAD?</h2>
                <div class="card-body " style="border: 3px solid #343a40;">
                    <div class="card" >
                        <div class=card-header>
                            <h3>YFAD collected terms of the following 10 biological features from Saccharomyces Genome Database.</h3>
                        </div>
                        <div class="card-body">
                            <table class="table text-center" style="font-family: inherit; font-size: 1.25rem;font-weight: 500;">
                                <thead>
                                    <tr >
                                        <th scope="col">Feature name</th>
                                        <th scope="col"># of terms</th>
                                        <th scope="col">Example term</th>
                                        <th scope="col"># of genes annotated in the example term</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr >
                                        <td scope="col"><h6>GO_MF</h6></td>
                                        <td scope="col"><h6>2085</h6></td>
                                        <td scope="col"><h6><a href="https://www.yeastgenome.org/go/GO:0000403" target="_blank">Y-form DNA binding</a></h6></td>
                                        <td scope="col"><h6><a class="show_term_member" href = "#Modal" data-bs-toggle="modal" value = "GO_MF*Y-form DNA binding*Y-form DNA binding" target="_blank"> 8 </a></h6></td>
                                    </tr>
                                    <tr >
                                        <td scope="col"><h6>GO_BP</h6></td>
                                        <td scope="col"><h6>3185</h6></td>
                                        <td scope="col"><h6><a href="https://www.yeastgenome.org/go/GO:0031638" target="_blank">zymogen activation</a></h6></td>
                                        <td scope="col"><h6><a class="show_term_member" href = "#Modal" data-bs-toggle="modal" value = "GO_BP*zymogen activation*zymogen activation" target="_blank"> 2 </a></h6></td>
                                    </tr>
                                    <tr >
                                        <td scope="col"><h6>GO_CC</h6></td>
                                        <td scope="col"><h6>833</h6></td>
                                        <td scope="col"><h6><a href="https://www.yeastgenome.org/go/GO:0031428" target="_blank">box C/D snoRNP complex</a></h6></td>
                                        <td scope="col"><h6><a class="show_term_member" href = "#Modal" data-bs-toggle="modal" value = "GO_CC*box C/D snoRNP complex*box C/D snoRNP complex" target="_blank"> 15 </a></h6></td>
                                    </tr>
                                    <tr >
                                        <td scope="col"><h6>Protein Domain</h6></td>
                                        <td scope="col"><h6>3229</h6></td>
                                        <td scope="col"><h6><a href='https://www.ebi.ac.uk/interpro/entry/pfam/PF00488/' target='_blank'> MutS domain V </a></h6></td>
                                        <td scope="col"><h6><a class="show_term_member" href = "#Modal" data-bs-toggle="modal" value = "Protein_Domain*MutS domain V*PF00488" target="_blank"> 6 </a></h6></td>
                                    </tr>
                                    <tr >
                                        <td scope="col"><h6>Mutant Phenotype</h6></td>
                                        <td scope="col"><h6>634</h6></td>
                                        <td scope="col"><h6><a href="https://www.yeastgenome.org/phenotype/increased_apoptosis" target="_blank">apoptosis: increased</a></h6></td>
                                        <td scope="col"><h6><a class="show_term_member" href = "#Modal" data-bs-toggle="modal" value = "Mutant_Phenotype*apoptosis: increased*apoptosis: increased" target="_blank"> 37 </a></h6></td>
                                    </tr>
                                    <tr >
                                        <td scope="col"><h6>Patdway</h6></td>
                                        <td scope="col"><h6>164</h6></td>
                                        <td scope="col"><h6><a href="https://patdway.yeastgenome.org/YEAST/NEW-IMAGE?type=PAtdWAY&object=ARGININE-SYN" target="_blank">arginine biosyntdesis</a></h6></td>
                                        <td scope="col"><h6><a class="show_term_member" href = "#Modal" data-bs-toggle="modal" value = "Patdway*arginine biosyntdesis*arginine biosyntdesis" target="_blank"> 10 </a></h6></td>
                                    </tr>
                                    <tr >
                                        <td scope="col"><h6>Disease</h6></td>
                                        <td scope="col"><h6>351</h6></td>
                                        <td scope="col"><h6><a href="https://www.yeastgenome.org/disease/DOID:162" target="_blank">cancer</a></h6></td>
                                        <td scope="col"><h6><a class="show_term_member" href = "#Modal" data-bs-toggle="modal" value = "Disease*cancer*cancer" target="_blank"> 148 </a></h6></td>
                                    </tr>
                                    <tr >
                                        <td scope="col"><h6>Transcriptional Regulation</h6></td>
                                        <td scope="col"><h6>194</h6></td>
                                        <td scope="col"><h6><a href="https://www.yeastgenome.org/locus/ABF1/regulation" target="_blank">ABF1</a></h6></td>
                                        <td scope="col"><h6><a class="show_term_member" href = "#Modal" data-bs-toggle="modal" value = "Transcriptional_Regulation*ABF1*YKL112W" target="_blank"> 317 </a>(<a style="color: red;">317 genes are tde targets of tde transcriptional regulator ABF1</a>)</h6></td>
                                    </tr>
                                    <tr >
                                        <td scope="col"><h6>Physical Interaction</h6></td>
                                        <td scope="col"><h6>5624</h6></td>
                                        <td scope="col"><h6><a href="https://www.yeastgenome.org/locus/S000001900/interaction" target="_blank">RPN11</a></h6></td>
                                        <td scope="col"><h6><a class="show_term_member" href = "#Modal" data-bs-toggle="modal" value = "Physical_Interaction*RPN11*RPN11" target="_blank"> 1641 </a>(<a style="color: red;">1641 genes have physical interaction witd RPN11</a>)</h6></td>
                                    </tr>
                                    <tr >
                                        <td scope="col"><h6>Genetic Interaction</h6></td>
                                        <td scope="col"><h6>5500</h6></td>
                                        <td scope="col"><h6><a href="https://www.yeastgenome.org/locus/S000004688/interaction" target="_blank">ADH3</a></h6></td>
                                        <td scope="col"><h6><a class="show_term_member" href = "#Modal" data-bs-toggle="modal" value = "Genetic_Interaction*ADH3*ADH3" target="_blank"> 129 </a>(<a style="color: red;">129 genes have genetic interaction witd ADH3</a>)</h6></td>
                                    </tr>

                                </tbody>
                            </table>

                        </div>
                    </div>
                    <div style="margin-top: 2%;line-height: 25px;">
                        <h5><b>⬦ YFAD identified </b><b style="background-color: yellow;"> 8209013</b><b style="color: red;"> term-term associations</b><b> from the 10 collected biological features.</b></h5><br>
                        <h5><b>⬦ For example, YFAD identified that </b><b style="color: #007bff;">Y-form DNA binding</b><b> from [GO_MF] is </b><b style="color: red;">ASSOCIATED </b><b>with </b><b style="color: #007bff;">MutS domain V</b><b> from [Protein Domain].</b></h5>
                        <table style="margin: 1%;" id="Protein_Domain_table" border="1" class="dataframe table table-bordered table-hover dataTable no-footer">
                            <thead>
                                <tr style="text-align: right;">
                                    <th>Term A </th>
                                    <th>Term B </th>
                                    <th>Corrected p-value</th>
                                    <th>N<sub>A</sub></th>
                                    <th>N<sub>B</sub></th>
                                    <th>N<sub>AB</sub></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a class="show_term_member" href = "#Modal" data-bs-toggle="modal" value = "GO_MF*Y-form DNA binding*Y-form DNA binding" target="_blank">Y-form DNA binding </a></td>
                                    <td><a class="show_term_member" href = "#Modal" data-bs-toggle="modal" value = "Protein_Domain*MutS domain V*PF00488" target="_blank"> MutS domain V </a></td>
                                    <td>1.32e-11</td>
                                    <td>8</td>
                                    <td>6</td>
                                    <td>4</td>
                                </tr>
                            </tbody>
                        </table>
                        <br/>
                        <h5><b>⬦ How to determine whether two terms (e.g. Term A and Term B) are associated or not?</b></h5>
                        <div>
                            <h5><a>&emsp;&emsp;• </a><a style="color: red;">N<sub>A</sub><a>: the number of genes annotated in Term A. </a></h5>
                            <h5><a>&emsp;&emsp;• </a><a style="color: red;">N<sub>B</sub><a>: the number of genes annotated in Term B. </a></h5>
                            <h5><a>&emsp;&emsp;• </a><a style="color: red;">N<sub>AB</sub><a>: the number of genes annotated in both Term A & Term B. </a></h5>
                            <h5><a>&emsp;&emsp;• </a><a style="color: red;">N<sub>Y</sub>=6611<a>: the number of ORFs (open reading frames) in the yeast genome. </a></h5>
                            <h5><a>&emsp;&emsp;• Term A and Term B are regarded as </a><a style="color: red;">ASSOCIATED </a><a style="color: #007bff;">if their member genes have significant overlap</a><a> (i.e. </a><a style="color: red;">N<sub>AB</sub> is big enough</a><a>).</a></h5>
                            <h5><a>&emsp;&emsp;• The p-value of significant overlap is calculated using the hypergeometric test as follows. </a></h5>
                            <h5 class="text-center"><img src="{% static 'img/formula.jpg'%}"></img></h5>

                            <h5><a>&emsp;&emsp;• The p-value is then corrected by the FDR (false discovery rate) to represent the true alpha level in the multiple hypotheses testing.  </a></h5>
                            <h5><a>&emsp;&emsp;• Finally, Term A and Term B are said to be </a><a style="color: red;">ASSOCIATED<a> with each other if the </a><a style="color: red;">corrected p-value <= 0.01</a><a>.</a></h5>
                        </div>
                    </div>
            </div>
        </div>
        <div class="card" style="margin-top: 3%;">
            <h2  class="card-header bg-dark text-white text-left">Update History</h2>
            <div class="card-body " style="border: 3px solid #343a40;">
                <table class="table table-hover mb-0">
                    <tbody class="test-center">
                        <tr>
                            <td style="width: 10%;">2023 July</td>
                            <td style="width: 90%;">Release YFAD.</td>
                        </tr>
                        <tr>
                            <td style="width: 10%;">2023 Mar.</td>
                            <td style="width: 90%;">Construct the web interface of YFAD.</td>
                        </tr>
                        <tr>
                            <td style="width: 10%;">2023 Feb.</td>
                            <td style="width: 90%;">Identify <a style="background-color: yellow;"> 8209013</a> <a style="color: red;">term-term associations </a>from the 10 biological features.</td>
                        </tr>
                        <tr>
                            <td style="width: 10%;">2023 Jan. </td>
                            <td style="width: 90%;">Download terms of 10 biological features from <a href="https://cosbi7.ee.ncku.edu.tw/YMLA/download" target="_blank" style="color: #007bff;">YMLA</a>.</td>
                        </tr>
                        <tr>
                            <td style="width: 10%;">2023 Jan. </td>
                            <td style="width: 90%;">Start YFAD project.</td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="card-footer bg-dark text-white text-left">Last Updated: 06/02/2023</div>
        </div>
    </div>
    <!------------------------modal---------------------->
    <div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog maodal-lg" role="document" style="max-width:70%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">x</button>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <h4 id="modal_table_name" class="card-header"></h4>
                        <div id="modal_table" class="card-body"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!------------------------------------------------------>
</body>

<script>csrf_token= "{{ csrf_token }}"</script>
<script src="{% static 'js/home.js'%}"></script>

{% endblock content %}
