{% extends "base.html" %}
{% load static %}


{% block content %}
<style>
    /* .nav-tabs.nav-link.active{
        color: #0d6efd;
        border-color: #dee2e6 #dee2e6 #fff;
        margin-bottom: -1px;
    } */
    .nav-link.button{
    font-size: 1.6rem;
    color: black;
    background-color: #D0D0D0 ;
    border: 1px solid #2b2b2bde;
    font-size: 1rem;
    padding:.2rem .5rem;
    margin: 1rem;
    }

</style>

<div class="container-fluid mb-5" id="introduce">
    <div class="row">
        <div class="col-9 mx-auto">
            <h2><i class="fa fa-info-circle"></i> About YFAD (Yeast Feature Association Database)</h2>
            <hr class="page-title-under">
            <p>
                &emsp;&emsp;Yeast feature association database provides comprehensive nexuses between highly descriptive or molecular features to which a list of genes is associated. Here, various gene ontologies, protein domains, mutant phenotypes, pathways, diseases, transcription regulation, physical- and genetic-interactions through browse and search mode could be explored for its associated features. To do so we have utilized the yeast genes/proteins lists which are attributed with a given term (e.g. GO, protein domains or pathways etc.,), and systematic level enrichment analysis based association was established using hypergeometric test. Furthermore, this user-friendly feature-association database has the potential to expand and decipher the novel molecular linkages of the yeast biology including human disease representatives in the yeast model systems.
            </p>
            <!--
            <div style="margin-top:1%;margin-right:2%;margin-bottom:1%;max-width:55%;float: left;text-align:center;" >
                <h4 style="color:#3e2723;"> Phosphoinositide-protein interactions in Yeast</h4>
                <img src="{% static 'img/test.png' %}" style="margin-top:2%;float: left;max-width:100%;" ></img>
            </div>
            <p class="text-justify" >
            &emsp;&emsp;YPIBP is a yeast phosphoinositide-binding protein database aiming to provide a unique interface to the lipid research community working on phosphoinositides (PIs) whose binding to specific proteins (effectors) are important for performing their functions. Structurally, phosphoinositides are glycerophospholipids which contain a diacylglycerol (DAG) lipid membrane-embedded backbone and a myoinositol polar head group. Although phosphoinositides constitute only a tiny fraction of phospholipids within eukaryotic cells, they play a profound role in cell signaling, trafficking and regulatory events. Multiple studies have identified hundreds of PI-binding proteins in yeast and these proteins can be used to study the functions of PIs.
            <div style="margin-left:2%;max-width:40%;float: right;text-align:center;" >
                <h4 style="color:#3e2723;">Major Lipid-binding domains</h4>
                <img src="{% static 'img/domain_picture.png' %}" style="margin-top:2%;max-width:100%;" ></img>
            </div><br>
            &emsp;&emsp;YPIBP is a comprehensive database which deposits the binding proteins of all the eight members of PIs (i.e., PtdIns, PI3P, PI4P, PI5P, PI(3,4)P2, PI(4,5)P2, PI(3,5)P2, and PI(3,4,5)P3) collected from rigorous literature mining, QuickGO, SGD and high-throughput screenings. Cumulatively, a total of 679 PI-binding proteins were collected. YPIBP also contains the information of protein domains which are categorized as lipid-binding domains, lipid-related domains and others. The domain information could help researchers identify the domains responsible for the PI-protein interactions.
            </p> -->
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="col-9 mx-auto">
        <h2><i class="fa fa-search"></i> Search terms (from each feature) which are <a style="color:#007bff;"> ASSOCIATED </a>with the <a style="color: red;">queried term </a>(i.e. the term containing the input keyword)</h2>
        <hr class="page-title-under">
    </div>
    <div class="col-9 mx-auto">
        <div class="card">
            <div class="form-floating"></div>
                <div class=" card-header text-left" >
                    <!-- <div class="flexbox" style="margin: 1%;">
                        <div style="width:25%;">The chosen feature: </div>
                        <select id="select_feature" style="width:75%;" type="text" name="input_feature">Queried Feature :
                            <option value="GO_MF">GO(MF)</option>
                            <option value="GO_BP">GO(BP)</option>
                            <option value="GO_CC">GO(CC)</option>
                            <option value="Protein_Domain">Protein Domain</option>
                            <option value="Mutant_Phenotype">Mutant Phenotype</option>
                            <option value="Pathway">Pathway</option>
                            <option value="Disease">Disease</option>
                            <option value="Transcriptional_Regulation">Transcriptional Regulation</option>
                            <option value="Physical_Interaction">Physical Interation</option>
                            <option value="Genetic_Interaction">Genetic Interaction</option>
                        </select>
                    </div>
                    <div class="flexbox">
                        <a style="font-size:26px;width: 25%;">e.g.:</a>
                        <a id="example" style="font-size:26px;width: 75%;">Y-form DNA binding</a>
                    </div> -->
                    <h5>Example queried term from the feature [GO_MF]: <a href="javascript:void(0)" class="example_text" value="Y-form DNA binding">Y-form DNA binding</a></h3>
                    <h5>Example queried term from the feature [GO_BP]: <a href="javascript:void(0)" class="example_text" value="zymogen activation">zymogen activation</a></h3>
                    <h5>Example queried term from the feature [GO_CC]: <a href="javascript:void(0)" class="example_text" value="vacuole">vacuole</a></h3>
                    <h5>Example queried term from the feature [Protein Domain]: <a href="javascript:void(0)" class="example_text" value="MutS domain V">MutS domain V</a></h3>
                    <h5>Example queried term from the feature [Mutant Phenotype]: <a href="javascript:void(0)" class="example_text" value="inviable">inviable</a></h3>
                    <h5>Example queried term from the feature [Pathway]: <a href="javascript:void(0)" class="example_text" value="glycolysis">glycolysis</a></h3>
                    <h5>Example queried term from the feature [Disease]: <a href="javascript:void(0)" class="example_text" value="cancer">cancer</a></h3>
                    <h5>Example queried term from the feature [Transcriptional Regulation]: <a href="javascript:void(0)" class="example_text" value="SIN4">SIN4</a></h3>
                    <h5>Example queried term from the feature [Physical Interaction]: <a href="javascript:void(0)" class="example_text" value="RPN11">RPN11</a></h3>
                    <h5>Example queried term from the feature [Genetic Interaction]: <a href="javascript:void(0)" class="example_text" value="ADH3">ADH3</a></h3>
                </div>
                <form id ="search_input" method="post">
                    <div class="flexbox">
                        <textarea type="text" class="form-control" style="width:100%;height: 200px;" id="search_name" name="search_name"></textarea>
                        <label for="search_name"></label>
                    </div>
                </form>
            <div class="card-footer text-center p-2">
                <button id="submit" class="btn btn-outline-primary">Search</button>
            </div>
        </div>
    </div>
    <div id="search_result" class="col-9 mx-auto" style="margin-top: 5%;display: none;" accept-charset="utf-8">
        <h2><i class="fa fa-table"></i> Search Result</h2>
        <hr class="page-title-under">
        <div id="result" class="card">
            <div class="card-header bg-dark text-white">
                <h2># of terms <a style="color:#007bff;"> ASSOCIATED </a>with the <a style="color: red;">queried term </a>(i.e. the term containing the input keyword <a id="result_title_keyword"></a>)</h2>
            </div>
            <div class="card-body " style="border: 3px solid #343a40;">

                <div class="card" >
                    <div class='card-header'>
                        <h2># of terms (from each feature) which are ASSOCIATED with the  <a style="color: red;">queried term</a> from [<a id="show_feature"></a>]</h2>
                    </div>

                    <div class="card-body">
                        <ul id="nav_header" class="nav nav-pills justify-content-center" role="tablist"></ul>
                        <div id="name_table"></div>
                        <div id="GO_MF" class="term_name_table" style="display: none;"></div>
                        <div id="GO_BP" class="term_name_table" style="display: none;"></div>
                        <div id="GO_CC" class="term_name_table" style="display: none;"></div>
                        <div id="Protein_Domain" class="term_name_table" style="display: none;"></div>
                        <div id="Mutant_Phenotype" class="term_name_table" style="display: none;"></div>
                        <div id="Pathway" class="term_name_table" style="display: none;"></div>
                        <div id="Disease" class="term_name_table" style="display: none;"></div>
                        <div id="Transcriptional_Regulation" class="term_name_table" style="display: none;"></div>
                        <div id="Physical_Interaction" class="term_name_table" style="display: none;"></div>
                        <div id="Genetic_Interaction" class="term_name_table" style="display: none;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!------------------------modal---------------------->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog maodal-lg" role="document" style="max-width:70%;">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <h3 class="modal-title" id="exampleModalLabel">Edvidence table</h3> -->
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">x</button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <h4 id="modal_table_name" class="card-header"></h4>
                    <div id="modal_table" class="card-body"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!------------------------------------------------------>
</body>

<script>csrf_token= "{{ csrf_token }}"</script>
<script src="{% static 'js/search.js'%}"></script>

{% endblock content %}
