{% extends "base.html" %}
{% load static %}

{% block style %}
<style>
    .mynetwork {
    width: 1000px;
    height: 600px;
    }
</style>
{% endblock style %}

{% block content %}
{% csrf_token %}
<div class="container-fluid">
    <div class="col-9 mx-auto">
        <div class="card" style="margin-top:5%;" >
                <!-- black title -->
                <div id="queried"  class="card-header bg-dark text-white"></div>
                <!-- black title -->
                <!-- first table and network -->
                <div class="card-body " style="border: 3px solid #343a40;">
                    <div class="card" >
                        <div id="associated_title" class='card-header'></div>
                        <ul class="nav nav-pills justify-content-center">
                            <li class="nav-item">
                                <a id="button_table" class="nav-link active" data-toggle="pill"  style="font-size: 1rem;padding:.2rem .5rem;margin: 1rem;">Table View</a>
                            </li>
                            <li class="nav-item">
                                <a id="button_network" class="nav-link active" data-toggle="pill"  style="font-size: 1rem;padding:.2rem .5rem;margin: 1rem;">Figure View</a>
                            </li>
                        </ul>
                        <div class="card-body ">
                            <div id="view_table" class="flexbox">
                                <div id="Answer1"  style="width: 90%;"></div>
                            </div>
                        </div>
                        <div class="card-body ">
                            <div id="view_network" >
                                <div id="checkbox_container1" class="flexbox"></div>
                                <div id="checkbox_container2" class="flexbox"></div>
                                <!-- <div class="flexbox"> -->
                                <div id="mynetwork" style="width: 90%;height: 600px;" ></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- first table and network -->
                <div style=" margin-top:5%;"></div>
                <div id="herf_table" class="fs-5 fw-bold flexbox"></div>
                <!-- <hr class="page-title-under"> -->

                <!-- <div class="card"> -->
                    <!-- <div class='card-body'></div> -->
                    <div class="flexbox">
                        <div id="Answer2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!------------------------modal---------------------->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog maodal-lg" role="document" style="max-width:70%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edvidence table</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="modal_table" class="card"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!------------------------------------------------------>
</body>

<script>csrf_token= "{{ csrf_token }}"</script>
<script src="{% static 'js/yeast_associated.js'%}"></script>

{% endblock content %}