{% extends "base.html" %}
{% load static %}


{% block content %}

        <div class="container-fluid">
            <div class="col-10 mx-auto">
            {% csrf_token %}
                <div class="card mb-3">
                    <div class="card-header bg-dark text-white"">
                        <div id="first" class="flexbox"></div>
                        <div id="second" class="flexbox"></div>
                    </div>
                    <div class="flexbox">
                        <div id="intersection_num" style="position: absolute;left: 50%;"></div>

                        <div id="queried_term" style="position: absolute;left: 5%;top: 6%;color:blue;"></div>
                        <div id="queried_num" style="position: absolute;left: 5%;top: 10%;color:blue;"></div>
                        <div id="queried_last" style="position: absolute;left: 40%;"></div>

                        <div id="compare_term" style="position: absolute;right: 5%;top: 6%;color: green;"></div>
                        <div id="compare_num" style="position: absolute;right: 5%;top: 10%;color:green;"></div>
                        <div id="compare_last" style="position: absolute;left: 60%;"></div>

                        <img src="{% static 'img/intersection.png'%}" style="margin: 1rem;">
                    </div>
                    <div id="associated_title" class='card-body'>
                        <div id="explain_text" ></div>

                        <div class="flexbox">
                            <div id="table1" style="width: 90%;"></div>
                        </div>
                        <div class="flexbox">
                            <div id="table2" style="width: 90%;"></div>
                        </div>
                        <div class="flexbox">
                            <div id="table3" style="width: 90%;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!------------------------modal---------------------->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog maodal-lg" role="document" style="max-width:70%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 id="modal_title" class="modal-title" id="exampleModalLabel"></h3>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">x</button>
                    </div>
                    <div class="modal-body">
                        <div id="modal_table1" class="card">
                            <h4 id="modal_table1_header" class="card-header"></h4>
                            <div id="feature1" class="card-body"></div>
                        </div>
                        <br>
                        <div id="modal_table2" class="card">
                            <h4 id="modal_table2_header" class="card-header"></h4>
                            <div id="feature2" class="card-body"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!------------------------------------------------------>
    </body>
    <script>csrf_token= "{{ csrf_token }}"</script>
    <script src="{% static 'js/yeast_name.js'%}"></script>

{% endblock content %}
