{% extends "base.html" %}
{% load static %}


{% block content %}

        <div class="container-fluid">
            <div class="col-10 mx-auto">
            {% csrf_token %}
                <div class="card mb-3">
                    <div class="card-header fs-5 fw-bold">
                        <div id="first"></div>
                        <div id="second"></div>
                    </div>
                    </div>
                    <div id="associated_title" class='card-body'></div>
                    <div class="flexbox">
                        <div id="table1" style="width: 90%;"></div>
                    </div>
                    <div class="flexbox">
                        <div id="table2" style="width: 90%;"></div>
                    </div>
                    <div class="flexbox">
                        <div id="table3" style="width: 90%;"></div>
                    </div>
                </div>
            </div>
        </div>
        <!------------------------modal---------------------->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edvidence table</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div id="feature1" class="card"></div>
                        <div id="feature2" class="card"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!------------------------------------------------------>
    </body>
    <script>csrf_token= "{{ csrf_token }}"</script>
    <script src="{% static 'js/yeast_name.js'%}"></script>

{% endblock content %}
