{% extends "base.html" %}
{% load static %}

{% block style %}
<!-- loading -->
<script src="https://cdn.jsdelivr.net/npm/busy-load/dist/app.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/busy-load/dist/app.min.css" rel="stylesheet">
<!-- loading -->

<style>
    /* -----表格垂直置中---- */
    div.dataTables_scrollBody > table > tbody > tr > td{
        vertical-align:top !important;
    }
    /* -----表格垂直置中---- */

    .mynetwork {
        width: 1000px;
        height: 600px;
    }

    .loader {
        width: 53px;
        height: 53px;
        border-radius: 50%;
        display: inline-block;
        border-top: 3px solid #FFF;
        border-right: 3px solid transparent;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
        }

        @keyframes rotation {
        0% {
        transform: rotate(0deg);
        }

        100% {
        transform: rotate(360deg);
        }
        }

        .container-mask {
        display: flex;
        }

        .box-mask {
        flex: 1;
        font-size: 40px;
    }

</style>
{% endblock style %}

{% block content %}
{% csrf_token %}
<div class="container-fluid">
    <div class="col-9 mx-auto">
        <div class="card" style="margin-top:5%;" >
            <!-- black title -->
            <div id="queried"  class="card-header bg-dark text-white"></div>
            <!-- black title -->
            <!-- first table and network -->
            <div class="card-body " style="border: 3px solid #343a40;">
                <div class="card" >
                    <div id="associated_title" class='card-header'></div>
                    <div class="card-body ">
                        <ul class="nav nav-pills justify-content-center">
                            <li class="nav-item">
                                <button id="button_table" class="nav-link " data-toggle="pill"  style="font-size: 1rem;padding:.2rem .5rem;margin: 1rem;">Table View</button>
                            </li>
                            <li class="nav-item">
                                <button id="button_network" class="nav-link " data-toggle="pill"  style="font-size: 1rem;padding:.2rem .5rem;margin: 1rem;">Figure View</button>
                            </li>
                        </ul>
                        <div id="view_table" class="flexbox">
                            <div id="Answer1"  style="width: 90%;"></div>
                        </div>
                    <!-- </div> -->
                    <!-- <div class="card-body "> -->

                        <div id="view_network" style="display: none;">
                            <div id="checkbox_container1" class="flexbox"></div>
                            <div id="checkbox_container2" class="flexbox"></div>
                            <div id="mynetwork" style="width: 90%;height: 600px;" ></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- first table and network -->
        <div style=" margin-top:5%;"></div>
        <div class="card" style="margin-top:5%;" >

            <div id="herf_table" class="fs-5 fw-bold flexbox card-header bg-dark "></div>
            <!-- <hr class="page-title-under"> -->
            <div class="card-body " style="border: 3px solid #343a40;">

            <!-- <div class="card"> -->
                <!-- <div class='card-body'></div> -->
                <div class="flexbox">
                    <div id="Answer2"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!------------------------modal---------------------->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog maodal-lg" role="document" style="max-width:70%;">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Edvidence table</h3>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">x</button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <h4 class="card-header">table name</h4>
                    <div id="modal_table" class="card-body"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!------------------------------------------------------>
</body>

<script>csrf_token= "{{ csrf_token }}"</script>
<script src="{% static 'js/yeast_associated.js'%}"></script>

<script>
    function Loading_mask() {
        let count = 0;
        let customElement = $("<div>", {
        id: "countdown",
        css: { "font-size": "40px", "background-color": 'black', "opacity": ".5", "border": 'none', "padding": '15px', "color": '#fff', "border-radius": '20px' },
        });
        customElement.append('<div class="container-mask"><span class="loader box-mask"></span>' + '<p class="box-mask">' + '&nbsp;Loading...' + count + '</p></div>')
        $.busyLoadFull("show", {
            custom: customElement
        });
        let interval = setInterval(function () {
            count++;
            customElement.empty()
            customElement.append('<div class="container-mask"><span class="loader box-mask"></span>' + '<p class="box-mask">' + '&nbsp;Loading...' + count + '</p></div>')
        }, 1000);
        }
    function unLoading_mask() {
        $.busyLoadFull("hide");
    }
</script>
{% endblock content %}