{% extends "base.html" %}
{% load static %}

{% block style %}
<style>
    #mynetwork {
    width: 1000px;
    height: 600px;
    }
    </style>
{% endblock style %}

{% block content %}

<div class="container-fluid">
    <div class="col-10 mx-auto">
    {% csrf_token %}
        <div class="card mb-3">
            <div id="queried"  class="card-header fs-5 fw-bold "></div>
            <div id="associated_title" class='card-body'></div>
            <div class="flexbox">
                <div id="Answer1" style="width: 90%;"></div>
            </div>
            <div class="flexbox">
                <select id="nodeFilterSelect" style="width:75%" id ='type' type="text" name="first_feature">Type select:</select>
            </div>
            <div class="flexbox">
                <div id="mynetwork"></div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="col-10 mx-auto">
    {% csrf_token %}
        <div class="card mb-3">
            <div id="herf_table" class="card-header fs-5 fw-bold flexbox"></div>
            <div class='card-body'></div>
            <div class="flexbox">
                <div id="Answer2"></div>
        </div>
    </div>
</div>
<!------------------------modal---------------------->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edvidence table</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="modal_table" class="card"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!------------------------------------------------------>
</body>

<script>csrf_token= "{{ csrf_token }}"</script>
<script src="{% static 'js/yeast_associated.js'%}"></script>

{% endblock content %}